/* contenido principal */
.producto__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--secondaryBlue-color);
  color: var(--white-color);
  max-height: 100vh;
  overflow-y: auto; /* Scroll vertical en el main */
}
.producto__header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* border-bottom: 2px solid var(--bgBlue-color); */
}
/* Filter */
.producto__filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Contenido Principal */
.producto__content {
  width: 100%;
  height: 100%;
  background-color: var(--bgBlue-color);
  padding: 1.5rem;
  overflow-y: auto; /* Scroll vertical en el main */
}

/* Table */
.producto__tableContainer {
  width: 100%;
  background-color: var(--secondaryBlue-color);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}
.producto__table {
  width: 100%;
}
