.card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 1rem;
  background: var(--secondaryBlue-color);
  border: 2px solid var(--borderGray-color);
  border-radius: 1rem;
  color: white;
  padding: 1rem;

  transition: all 0.5s;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card__tittle {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 90%;
  margin: 0px;
  padding: 0px;
  width: 100%;

  white-space: nowrap; /* No permite que el texto salte de línea */
  overflow: hidden; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra "..." al final del texto */

  line-height: 1.5em; /* Ajusta la altura de línea */
}

.card__imagen {
  height: 14rem;
  width: 100%;

  object-fit: cover;
  border-radius: 1rem;
}
.card__iconContainer {
  height: 14rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

  background: #00000037;
}

.card__buttonContainer {
  width: 100%;
  max-width: 10rem;

  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
