.asideCategories {
  background-color: var(--primaryBlue-color);
  color: var(--white-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0px;

  overflow-y: auto; /* Scroll vertical en el main */
}
.asideCategories__linkContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem;

  overflow-y: auto; /* Scroll vertical en el main */
}
@media (min-width: 768px) {
  .asideCategories__linkContainer {

    padding: 1rem 2rem;
  }
}
/* Back div */
.asideCategories__backContainer {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-color);
  padding: .5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.asideCategories__backContainer:hover{
  transform: scale(1.05);
  transition: all .3s ease;
}
/* Icon */
.asideCategories__backIcon {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--gray-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Administracion */
.asideCategories__Container{
  width: 100%;
  border: 2px solid var(--borderGray-color);
  border-radius: 15px;     
  padding: 25px;
   /* gradiant */
   background: rgb(255, 255, 255);
   background: linear-gradient(
     90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.089) 50%,
     rgba(255, 255, 255, 0) 100%
   );
}
/* Links */
.link {
  width: 100%;
  padding: 0.2rem 1rem;
  border: 2px solid var(--borderGray-color);
  border-radius: 0.5rem;

  /* Gradiant background */
  background: linear-gradient(
    90deg,
    rgba(11, 11, 11, 0.652) 0%,
    rgba(152, 149, 149, 0.267) 50%,
    rgba(11, 11, 11, 0.652) 100%
  );

  color: var(--gray-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease;
}

.link:hover {
  transform: scale(1.1);
}

.linkActive {
  background: none;
  background-color: rgb(75, 75, 79); 
  color: white; 
  border-color: rgb(253, 253, 253);
  transition: all 0.5s ease;
}
