.Sucursalview__container {
  width: min(100%, 30rem);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 20px 2rem;

  color: white;
  background-color: var(--pupUp-color);
  border: 1px solid var(--borderGray-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
