:root {
  --primaryBlue-color: #0a101e;
  --secondaryBlue-color: #0f1523;
  --bgBlue-color: #030712;
  --pupUp-color: #0e1e3f;

  --white-color: #fff;
  --black-color: #000;
  --gray-color: #cecece;
  --red-color: #ff0000;
  --borderGray-color: #60606064;
}
/* Globals */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
th,td{
  font-size: .8rem;
  padding: .2rem;
}
/* Ocultar la barra */
html ::-webkit-scrollbar,
.main::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

/* Utilities */
.aside-main__container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (min-width: 768px) {
  .aside-main__container {
    grid-template-columns: 1fr 3fr;
  }
}
.add__button {
  width: 10rem;
  color: var(--red-color);
  border: solid 1px var(--red-color);
  border-radius: 0.4rem;
  background-color: rgba(255, 0, 0, 0.087);
  text-transform: uppercase;
  font-size: small;
  padding: 0.2rem;
}
.gradiantStyle__button {
  width: 100%;
  padding: 0.2rem 1rem;
  border: 2px solid var(--borderGray-color);
  border-radius: 0.5rem;

  /* gradiant */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.089) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  color: var(--gray-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease;
}
.gradiantStyle__button option {
  background-color: var(--primaryBlue-color); /* Fondo de cada opción */
  color: var(--gray-color);            /* Color del texto */
  padding: 10px;             /* Espacio interno (en algunos navegadores no se aplica) */
}
.boxStyle__icon {
  border: 2px solid var(--white-color);
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background: none;
  font-size: small;
  color: var(--gray-color);
}
.boxStyle__iconRed {
  border: 2px solid var(--red-color);
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background: none;
  font-size: small;
  color: var(--red-color);
  background-color: rgba(255, 0, 0, 0.087);

}
