:root {
  --primaryBlue-color: #0a101e;
  --secondaryBlue-color: #0f1523;
  --bgBlue-color: #030712;
  --pupUp-color: #0e1e3f;

  --white-color: #fff;
  --black-color: #000;
  --gray-color: #cecece;
  --red-color: #ff0000;
  --redLite-color: #913939;
  --green-color: #5eff68;
  --borderGray-color: #60606064;
}
/* Globals */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
th,
td {
  font-size: 0.8rem;
  padding: 0.2rem;
}
/* Ocultar la barra */
html ::-webkit-scrollbar,
.main::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}
button {
  transition: all 0.2s;
}
button:hover {
  transform: scale(1.05);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Ocultar flechas en Chrome, Safari y Edge */
  margin: 0;
}
/* Utilities */
.aside-main__container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (min-width: 768px) {
  .aside-main__container {
    grid-template-columns: 1fr 3fr;
  }
}
.add__button {
  width: 10rem;
  color: var(--red-color);
  border: solid 1px var(--red-color);
  border-radius: 0.4rem;
  background-color: rgba(255, 0, 0, 0.087);
  text-transform: uppercase;
  font-size: small;
  padding: 0.2rem;
}
.add__button-green {
  width: 10rem;
  color: var(--green-color);
  border: solid 1px var(--green-color);
  border-radius: 0.4rem;
  background-color: rgba(51, 255, 0, 0.087);
  text-transform: uppercase;
  font-size: small;
  padding: 0.2rem;
}
.gradiantStyle__button {
  width: 100%;
  padding: 0.2rem 1rem;
  border: 2px solid var(--borderGray-color);
  border-radius: 0.5rem;

  /* gradiant */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.089) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  color: var(--gray-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
}
.gradiantStyle__button option {
  background-color: var(--primaryBlue-color); /* Fondo de cada opción */
  color: var(--gray-color); /* Color del texto */
  padding: 10px; /* Espacio interno (en algunos navegadores no se aplica) */
}
.boxStyle__icon {
  border: 2px solid var(--white-color);
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background: none;
  font-size: small;
  color: var(--gray-color);
}
.boxStyle__icon:hover{
  transform: scale(1.15);
}
.boxStyle__iconRed {
  border: 2px solid var(--red-color);
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background: none;
  font-size: small;
  color: var(--red-color);
  background-color: rgba(255, 0, 0, 0.087);
}
/* inpust */
.form__inputText {
  width: 100%;
  padding: 0.2rem 1rem !important;
  border: 2px solid var(--borderGray-color) !important;
  color: var(--gray-color) !important;

  border-radius: 0.5rem !important;

  /* gradiant */
  background: rgb(255, 255, 255) !important;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.089) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}
.form__inputText::placeholder {
  color: var(--borderGray-color) !important;
}
.form__inputText:focus {
  border-color: var(--gray-color) !important;
  box-shadow: none !important;
}
/* Fail */
.form__inputText-fail {
  width: 100%;
  padding: 0.2rem 1rem !important;
  border: 2px solid var(--red-color) !important;
  color: var(--gray-color) !important;

  border-radius: 0.5rem !important;

  /* gradiant */
  background: rgb(255, 255, 255) !important;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.089) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;

  transition: all .5s ;
}
.form__inputText-fail::placeholder {
  color: var(--redLite-color) !important;
}
.form__inputText-fail:focus {
  border-color: var(--redLite-color) !important;
  box-shadow: none !important;
}

/* pupUp */
.overlay {
  position: fixed; /* Ocupa toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el overlay esté por encima de otros elementos */
}


