/* Aside */
.empresa__aside {
  background-color: var(--primaryBlue-color);
  color: var(--white-color);
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0px;

  overflow-y: auto; /* Scroll vertical en el main */
}
.empresa__listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto; /* Scroll vertical en el main */
}

/* contenido principal */
.empresa__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--secondaryBlue-color);
  color: var(--white-color);

  max-height: 100vh;
  overflow-y: auto; /* Scroll vertical en el main */
}
.empresa__header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empresa__tittleContainer {
  width: 100%;
}
.empresa__tittle {
  font-size: 1.5rem;
  text-align: center;
}
.empresa__bottonContainer {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards container */
.empresa__content {
  width: 100%;
  height: 100%;
  background-color: var(--bgBlue-color);
  
  overflow-y: auto; /* Scroll vertical en el main */
}

.empresa__cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  .empresa__cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* pupUp */
.overlay {
  position: fixed; /* Ocupa toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el overlay esté por encima de otros elementos */
}
